:root{
    --f-mkcy-f:#ffffff;
    --j-qkgmf:#DDDDDD

}
.main{
    height: 20vh;
    margin: 0%;
    width: 100%;
    padding:20px;
    color: black;
    position: fixed;
    z-index: 9999;
     background-color: rgb(255, 255, 255);
}
.main .navbar {
    /* height: 176px; */
    width: 90%;
    margin-left: 4%;
    padding-bottom: 20px;
   
    background-color: #ffffff;

}
/* search list css */
.search-list{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 155px;
padding-right: 10px;
gap: 1%;


}
.left-search-list{
    /* display: flex;
    justify-content: space-between;
    border: 2px solid green; */
    margin-left: 42px;
}
.search-list .map{
    width: 45%;
    /* background-color: aqua; */
    height: 80vh;
}
.hotel-info{
    width: 55%;
    padding:5px;
}

.search-card{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */

}

.search-image{
    display: flex;
    width: 40%;
    height: 30%;
    justify-content: center;
    align-items: center;
}
.search-image img{
    border-radius: 15px;
    width: 100%;
    max-height: 11rem;
    min-height: 5rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}
.middle{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    background-color: var(--f-mkcy-f);
    border: 1px solid var(--j-qkgmf);
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    /* margin: 18px 70px;
    width: 38%; */
    font-weight: 600;
}
.content {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 1rem;
    border-top: 1px solid #f1f1f1;
}

.content .inner {
    width: 100%;
}
.searchList {
    display: flex;
    justify-content: space-between;
    background: white;
    /*   height: 50px; */
    border-radius: 50px;
    overflow: hidden;
    /* margin-left: 14%; */
    width: 50%;
    /* padding-left: 26px; */
    align-items: center;
}


.guests{
    width: 100px;
    padding: 15px;
}
.searchList .search-button {
    flex: 0 0 auto;
    padding: 5px !important;
    cursor: pointer;
}
.searchList .search-button:hover {
    cursor: pointer;
}


#search-card{
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
}
.filters .btn{
    border-radius: 16px;
    padding: 7px;
    border: 1px solid lightgray;
    max-height: 40px;
}
.btn:hover{
  cursor: pointer;  
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
}
.filters{
    display: flex;
    justify-content: center;
    gap: 5px;
    overflow: auto;
}
.virticalLine{
    width: 2px;
    height: 44px;
    background-color: #e5e3e3;
}
